/* ----- */
/* Geral */
/* ----- */

body, html {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:16px;
	background: #FBF2E3 url(../../img/web/bg.gif);
}

a,
a:hover { color: #FF0000; }

.container { background: transparent url(../../img/white.png); }

/* ---------- */
/* Blockquote */
/* ---------- */

blockquote { background: #FCFAED; padding: 12px; border-left-color: #FFF9CB; }

/* ------- */
/* Lateral */
/* ------- */

#menu-bg { position: relative; top: 0; right: 0; bottom: 0; left: 0; background: #fff; opacity: 0.5; }

#lateral { width: 260px; }
#lateral .nav ul { list-style: none; }
#lateral .nav a { color: #000000; padding: 4px; display: block; font-size: 1em; }
#lateral .nav a:hover { color:#E30613; }
#lateral .nav > li a:hover { background-color:#F8E6D3; }


div#lateral small { font-style: italic; color: #999; margin: 4px; font-size: .9em; }

img#lateral_logo,
img#lateral_botao {
	padding-bottom:30px;
}

.breadcrumb .divider { color: #903032 !important; }
.breadcrumb { color: #E30613; font-size: 24px; }
.breadcrumb a { color: #903032; font-size: 18px; }

/* -------- */
/* Conteúdo */
/* -------- */

div#conteudo,
div#lateral { padding: 30px; }

div#conteudo {
	min-height: 1100px;
	background-color: #fff;
    border-left: 1px solid #F5DDC8;
}

div#conteudo p#banner{
	width:600px;
	margin:auto;
	padding-top:15px;
	padding-bottom:10px;
}

/* -------- */
/* Materias */
/* -------- */

.materia { height: 280px; }
.materia img { width: 250px; height: 199px; }
.materia strong { width: 250px; display: block; margin-top: 30px; font-size: .9em; height: 50px; }

.breadcrumb { background: none; padding-left: 0; }

.align-center { text-align: center; }

.fancybox img { margin: 4px 1px; }
